<footer>
 {{>head}}
 <center>
<h3 align="Center" class="bg-warning"> Footer Partials </h3>
    <table class="table table-responsive">
     <tr class="bg-danger">
      <th align="Center"> Section </th>
      <th align="Center"> Group </th>
     </tr>
     <tr align="Center">
      <td> D1703 </td>
      <td> Grp 2 </td>
     </tr>
    <table>
 </center>
</footer>
