<html>
    <head>
        {{>header}}
    </head>
    <style>
        body{
        margin: 0%;
        background-image: url('');
        }
        
    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light align-items-center">
  <a class="navbar-brand" href="#">Student Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link bg-danger" href="../">Home</a>
      </li> 
         <li class="nav-item">
        <a class="nav-link" href="../att">Attendence</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="../fees">Fees</a>
      </li>       
      <li class="nav-item">
      <a  class="nav-link" href="../ums">Ums</a>
        </li> 
  </div>
</nav>
<br>

<div class="container-fluid" >
    <div class="row">
 <br><br> <br>
 <table>
     <tr>
       <td>
 <h3 class="text-info"> Welcome students </h3> 
 </td>
 </tr>
 </table>
 <h2> India's largest campus </h2> 
 </div>  
   <table>
     <tr>
       <td>
   <img src="https://images.shiksha.com/mediadata/images/1488259134phpShnPJa.jpeg" height=50% width=100%>
   </td>
   </tr>
   </table>
  
 </div>
 
 
</div>
<div class="container"> <br> <br> 
<div class="row"></div>
 <div class="col-sm-6 bg-light">
   <table>
     <tr>
       <td>
  <h3 align="Center" class="text-success"> What our Chancellor has to say</h3>
   <ul type="abc">
      
    <li> Our institute leads you to success.</li>
    <li> Work on daily basis to achieve something.</li>
    <li> Stop studying one night before.</li>
   </ul>
   </td>
   </tr>
   </table>
 </div> <br> 
 </div>
 </div>
 </div>
 <br><br><br>
 <table>
   <tr>
     <td>
       <h2 class="text-primary">Time Table</h2>
     </td>
   </tr>
 </table>
 <table>
     <tr>
       <td>
 <div class="row">
     <div class="container-fluid">
			<div class="row slide">
        
				<div class="col-sm-6 " style="background-color:grey; color:white;" >
					<h5 class="text-wh font-weight-bold">Mon</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Cap 919 </span>
							<div class="value float-right"> 10am - 12pm</div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Cap 725 </span>
							<div class="value float-right"> 2pm - 4pm </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Bsl 902 </span>
							<div class="value float-right"> 4pm - 5pm</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
 </div>
 </td>
 <td>
 <div class="row">
     <div class="container-fluid">
			<div class="row slide">
        
				<div class="col-sm-6 " style="background-color:grey; color:white;" >
					<h5 class="text-wh font-weight-bold">Tue</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Cap 918 </span>
							<div class="value float-right"> 10am - 12pm</div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Cap 521 </span>
							<div class="value float-right"> 2pm - 4pm </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Bsl 902 </span>
							<div class="value float-right"> 4pm - 5pm</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
 </div>
 </td>
 <td>
 <div class="row">
     <div class="container-fluid">
			<div class="row slide">
        
				<div class="col-sm-6 " style="background-color:grey; color:white;" >
					<h5 class="text-wh font-weight-bold">Wed</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Cap 919 </span>
							<div class="value float-right"> 10am - 12pm</div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Cap 725 </span>
							<div class="value float-right"> 2pm - 4pm </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Bsl 902 </span>
							<div class="value float-right"> 4pm - 5pm</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
 </div>
 </td>
 <td>
 <div class="row">
     <div class="container-fluid">
			<div class="row slide">
        
				<div class="col-sm-6 " style="background-color:grey; color:white;" >
					<h5 class="text-wh font-weight-bold">Thu</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Cap 918 </span>
							<div class="value float-right"> 10am - 12pm</div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Cap 521 </span>
							<div class="value float-right"> 2pm - 4pm </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Bsl 902 </span>
							<div class="value float-right"> 4pm - 5pm</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
 </div>
 </td>
 <td>
 <div class="row">
     <div class="container-fluid">
			<div class="row slide">
        
				<div class="col-sm-6 " style="background-color:grey; color:white;" >
					<h5 class="text-wh font-weight-bold">Fri</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Cap 919 </span>
							<div class="value float-right"> 10am - 12pm</div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Cap 725 </span>
							<div class="value float-right"> 2pm - 4pm </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Cap 347 </span>
							<div class="value float-right"> 4pm - 5pm</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
 </div>
 </td>
 </tr>
 </table>
  <br><br><br>

{{>footer}}
    </body>
</html>