<html>
    <head>
        {{>head}}
    </head>
    <body>
      
        <nav class="navbar navbar-expand-lg navbar-light bg-light align-items-center">
  <a class="navbar-brand" href="#">Student Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link " href="../">Home</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="../att">Attendence</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="../fees">Fees</a>
      </li>       
      <li class="nav-item">
      <a class="nav-link" href="../ums">Ums</a>
        </li> 
        <li class="nav-item active">
      <a  class="nav-link bg-danger" href="../updation">Updation</a>
        </li> 
  </div>
</nav>
<br>
{{>header}}<br><br><br><br><br>
<h2 style="color:rgb(0, 110, 255);">Hello and Very Great Welcome to the India's largest University</h2>
<h2 style="color:rgb(0, 217, 255);">Student Management System</h2>
<br><br><br><br><br><br>
{{>footer}}
    </body>
</html>